<h1>Edit user</h1>
<%= form_for(@user, method: :put) do |f| %>
  Name: <%= f.text_field :name %><br />
  Email : <%= f.text_field :email %><br />
  Role: <%= f.text_area :role %><br />
  <%= f.submit %>
<% end %>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>